<section class="about">
  <div class="about-container container">
    <div class="about-body">
      <div class="about-header">
        <div class="about-heading heading">
          <span class="heading-title">about us</span>
        </div>
        <div class="about-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" target="_blank" class="about-more button">
            read more
          </a>
        </div>
      </div>
      <div class="about-grid">
        <div class="about-links">
          <a href="#" target="_blank" class="about-links__block">
            <div class="about-links__banner">
              <img src="../../img/about/discordBg.webp" alt="block">
            </div>
            <span class="about-links__name">
              discord
            </span>
          </a>
          <a href="#" target="_blank" class="about-links__block">
            <div class="about-links__banner">
              <img src="../../img/about/telegramBg.webp" alt="block">
            </div>
            <span class="about-links__name">
              telegram
            </span>
          </a>
        </div>
        <div class="about-main swiper">
          <ul class="about-slider swiper-wrapper">
            <li class="about-slider__item swiper-slide">
              <span class="about-grid__heading">
                last news
              </span>
              <div class="about-slider__banner">
                <img src="../../img/about/newsSliderBanner.webp" alt="banner">
              </div>
              <div class="about-slider__info">
                <span class="about-slider__label">the varkas new update</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <div class="about-slider__bottom">
                <a href="#" class="about-slider__cta button">
                  read more
                </a>
                <span class="about-slider__date">
                  30/12/2024
                </span>
              </div>
            </li>
            <li class="about-slider__item swiper-slide">
              <span class="about-grid__heading">
                last news
              </span>
              <div class="about-slider__banner">
                <img src="../../img/about/newsSliderBanner.webp" alt="banner">
              </div>
              <div class="about-slider__info">
                <span class="about-slider__label">the varkas new update</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <div class="about-slider__bottom">
                <a href="#" class="about-slider__cta button">
                  read more
                </a>
                <span class="about-slider__date">
                  30/12/2024
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="about-servers">
          <span class="about-grid__heading">servers</span>
          <ul class="about-server__list">
            <a href="#" class="about-server__item about-server__item--active">
              <div class="about-server__aside">
                <div class="about-server__info">
                  <span class="about-server__online">online:5223</span>
                  <span class="about-server__name">
                    awakening
                  </span>
                </div>
              </div>
              <span class="about-server__multiplier">
                x50
              </span>
              <img src="../../img/about/arrowEast.webp" class="about-server__arrow" alt="arrow">
            </a>
            <a href="#" class="about-server__item">
              <div class="about-server__aside">
                <div class="about-server__info">
                  <span class="about-server__online">online:5223</span>
                  <span class="about-server__name">
                    awakening
                  </span>
                </div>
              </div>
              <span class="about-server__multiplier">
                x5
              </span>
              <img src="../../img/about/arrowEast.webp" class="about-server__arrow" alt="arrow">
            </a>
            <a href="#" class="about-server__item">
              <div class="about-server__aside">
                <div class="about-server__info">
                  <span class="about-server__online">online:5223</span>
                  <span class="about-server__name">
                    awakening
                  </span>
                </div>
              </div>
              <span class="about-server__multiplier">
                x1000
              </span>
              <img src="../../img/about/arrowEast.webp" class="about-server__arrow" alt="arrow">
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
