<section class="features">
  <div class="features-container container">
    <div class="features-body">
      <div class="features-heading heading">
        <span class="heading-title">why us?</span>
        <span class="heading-subtitle">our features</span>
      </div>
      <div class="features-inner">
        <div class="features-content">
          <h5 class="features-title">
            no donations
          </h5>
          <p class="features-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="features-video">
            <img src="../../img/features/featuresVideoPreview.webp" alt="preview" class="features-video__preview">
            <button class="features-video__play">
              <img src="../../img/features/previewButton.png" alt="button">
            </button>
          </div>
          <button class="features-button button">
            <span>read more</span>
          </button>
        </div>
        <div class="features-grid">
          <a href="#" target="_blank" class="features-grid__item">
            <div class="features-grid__banner">
              <img src="../../img/features/featureBanner_first.webp" alt="banner">
            </div>
            <div class="features-grid__main">
              <div class="features-grid__header">
                <span class="features-grid__triangle"></span>
                <span class="features-grid__bar"></span>
                <span class="features-grid__title">
                  no wipe
                </span>
              </div>
              <p class="features-grid__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="features-grid__item">
            <div class="features-grid__banner">
              <img src="../../img/features/featuresBanner_second.webp" alt="banner">
            </div>
            <div class="features-grid__main">
              <div class="features-grid__header">
                <span class="features-grid__triangle"></span>
                <span class="features-grid__bar"></span>
                <span class="features-grid__title">
                  unique interface
                </span>
              </div>
              <p class="features-grid__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="features-grid__item">
            <div class="features-grid__banner">
              <img src="../../img/features/featuresBanner_third.webp" alt="banner">
            </div>
            <div class="features-grid__main">
              <div class="features-grid__header">
                <span class="features-grid__triangle"></span>
                <span class="features-grid__bar"></span>
                <span class="features-grid__title">
                  responsive
                  administration
                </span>
              </div>
              <p class="features-grid__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="features-grid__item">
            <div class="features-grid__banner">
              <img src="../../img/features/featuresBanner_fourth.webp" alt="banner">
            </div>
            <div class="features-grid__main">
              <div class="features-grid__header">
                <span class="features-grid__triangle"></span>
                <span class="features-grid__bar"></span>
                <span class="features-grid__title">
                  no donations
                </span>
              </div>
              <p class="features-grid__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
