<section class="network">
  <div class="network-container container">
    <div class="network-body">
      <div class="network-heading heading" data-aos="fade-right">
        <span class="heading-title">social networks</span>
        <span class="heading-subtitle">communication</span>
      </div>
      <div class="network-inner">
        <div class="network-aside">
          <div class="network-links">
            <a target="_blank" href="#" class="network-links__block" data-aos="fade-right" data-aos-delay="100" data-aos-duration="400">
              <div class="network-links__title">
                our
                <span class="network-links__title--hl">discord</span>
              </div>
            </a>
            <a target="_blank" href="#" class="network-links__block" data-aos="fade-right" data-aos-delay="200" data-aos-duration="400">
              <div class="network-links__title">
                our
                <span class="network-links__title--hl">telegram</span>
              </div>
            </a>
            <a target="_blank" href="#" class="network-links__block" data-aos="fade-right" data-aos-delay="300" data-aos-duration="400">
              <div class="network-links__title">
                our
                <span class="network-links__title--hl">vk.com</span>
              </div>
            </a>
          </div>
          <p class="network-links__description" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          </p>
        </div>
        <a href="#" target="_blank" class="network-bot" data-aos="fade-left" data-aos-delay="300" data-aos-duration="400">
          <span class="network-bot__title">
            telgram <br> bot
          </span>
          <img src="../../img/network/network_character.webp" alt="bot" class="network-bot__character">
        </a>
      </div>
    </div>
  </div>
</section>
