<section class="slider">
  <div class="slider-container container">
    <div class="slider-body swiper">
      <div class="slider-pagination">
      </div>
      <ul class="slider-list swiper-wrapper">
        <li class="slider-item swiper-slide">
          <div class="slider-item__inner">
            <div class="slider-banner" data-aos="fade">
              <div class="slider-heading" data-aos="fade-right" data-aos-delay="600">
                SERVER INTEGRATION <br>
                <span class="slider-heading__hl">awakening</span> AND <span class="slider-heading__hl">
                  main [OLD]
                </span>
              </div>
              <img src="../../img/slider/sliderBanner.webp" alt="image">
            </div>
            <div class="slider-info" data-aos="fade-up" data-aos-delay="150">
              <p class="slider-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
              <a href="#" class="button" target="_blank">
                read more
              </a>
            </div>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="slider-item__inner">
            <div class="slider-banner">
              <div class="slider-heading">
                SERVER INTEGRATION <br>
                <span class="slider-heading__hl">awakening</span> AND <span class="slider-heading__hl">
                  main [OLD]
                </span>
              </div>
              <img src="../../img/slider/sliderBanner.webp" alt="image">
            </div>
            <div class="slider-info">
              <p class="slider-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
              <a href="#" class="button" target="_blank">
                read more
              </a>
            </div>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="slider-item__inner">
            <div class="slider-banner">
              <div class="slider-heading">
                SERVER INTEGRATION <br>
                <span class="slider-heading__hl">awakening</span> AND <span class="slider-heading__hl">
                  main [OLD]
                </span>
              </div>
              <img src="../../img/slider/sliderBanner.webp" alt="image">
            </div>
            <div class="slider-info">
              <p class="slider-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
              <a href="#" class="button" target="_blank">
                read more
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
