<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-aside">
        <img src="../img/logo.png" alt="logo" class="footer-logo">
        <div class="footer-copy">
          <span class="footer-copy__top">
            © 2020-2023 community imbagame.com
          </span>
          <span class="footer-copy__bottom">
            This is only a test server for R2. All rights reserved by Ncsoft.
          </span>
        </div>
        <a href="#" dofollow="" title="Website development / разработка сайта UNSIMPLE WORLD" target="https://unsimpleworld.com/" class="footer-dev"><svg class="footer-dev__icon"><use href="img/sprite/sprite.svg#unsimple-logo"></use></svg><p class="footer-dev__inner"><span class="footer-dev__header">Developed by</span> <span class="footer-dev__bottom">unsimple world</span></p></a>
      </div>
      <ul class="footer-list">
        <li class="footer-col">
          <span class="footer-col__heading">
            faq
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item">
              about the project
            </a>
            <a href="#" class="footer-links__item">
              forum
            </a>
            <a href="#" class="footer-links__item">
              statistics
            </a>
            <a href="#" class="footer-links__item">
              about the project
            </a>
          </ul>
        </li>
        <li class="footer-col">
          <span class="footer-col__heading">
            Account
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item">
              Personal Account
            </a>
            <a href="#" class="footer-links__item">
              Start Playing
            </a>
            <a href="#" class="footer-links__item">
              Files
            </a>
            <a href="#" class="footer-links__item">
              Donation
            </a>
          </ul>
        </li>
        <li class="footer-col">
          <span class="footer-col__heading">
            Community
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item">
              Our Forum
            </a>
            <a href="#" class="footer-links__item">
              Vkontakte
            </a>
            <a href="#" class="footer-links__item">
              Discord
            </a>
            <a href="#" class="footer-links__item">
              Telegram
            </a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
