<header class="header">
  <div class="header-container container">
    <div class="header-row">
      <div class="header-logo">
        <img src="../img/logo.png" alt="logo">
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              account
            </span>
            <span class="nav-link__bottom">
              registration
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              download
            </span>
            <span class="nav-link__bottom">
              game files
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              community
            </span>
            <span class="nav-link__bottom">
              social networks
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              media
            </span>
            <span class="nav-link__bottom">
              stream
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              ranking
            </span>
            <span class="nav-link__bottom">
              statistics
            </span>
          </a>
        </ul>
      </nav>
      <button class="header-profile">
        кабинет
      </button>
      <!-- <div class="header-lang"></div> -->
    </div>
  </div>
</header>
