.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  &-container {
    --container-width: 95%;
  }
  &-menu {
    max-width: 24px;
    display: none;
  }
  &-close {
    max-width: 18px;
    display: none;
  }
  &-aside {
    display: flex;
    align-items: center;
    grid-gap: clamp(1rem, 1.75vw, 28px);
  }
  &-lang {
    position: relative;
    &__selected {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }
    &__arrow {
      max-width: 1rem;
    }
    &__hidden {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-top: clamp(2.5rem, 3vw,3rem);
      width: 100%;
    }
    &__list {
      transform: translateY(-6px);
      opacity: 0;
      transition: all 400ms ease;
      pointer-events: none;
      will-change: transform, opacity;
    }
    &__flag {
      border-radius: 50%;
      width: clamp(1.5rem, 2vw, 2rem);
      aspect-ratio: 1;
    }
    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: 1.25rem;
    }
    &:hover {
      .header-lang__list {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }
    }
  }
  &-profile {
    text-transform: uppercase;
    font-family: var(--ff-pr);
    color: #ffe1bc;
    font-size: clamp(18px, 1.25vw, 20px);
  }
  &-row {
    min-height: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    max-width: 100px;
  }
}

.nav {
  font-family: var(--ff-pr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-list {
    display: flex;
    align-items: center;
    grid-gap: 40px;
  }
  &-link {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    &__top {
      font-size: clamp(1rem, 1.25vw, 20px);
    }
    &__bottom {
      font-size: 12px;
      font-weight: 300;
      opacity: 50%;

      transition: opacity 300ms ease;
    }

    @include hover {
      .nav-link__bottom {
        opacity: 100%;
      }
    }
  }
}

@include laptop {
  .header {
    &-logo {
      max-width: 74px;
    }
    &-menu {
      display: block;
    }
    &-close {
      display: block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
  .nav {
    position: fixed;
    width: 100%;
    height: fit-content;
    transform: translateY(calc((100% + 1rem) * -1));
    transition: transform 400ms ease;
    will-change: transform;
    border-bottom: 1px solid rgba(var(--clr-pr), .5);
    box-shadow: 0 0 12px 4px #b72123;
    background-color: rgba(var(--clr-b), .6);
    backdrop-filter: blur(12px);
    padding: 3rem 1.5rem;
    z-index: 5;
    top: 0;
    left: 0;
    &--active {
      transform: translateY(0);
    }
    &-list {
      grid-gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
    }
    &-link {
      grid-gap: 0.5rem;
      align-items: flex-start;
      padding: 0;
      width: 100%;
      &:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(var(--clr-w), .15);
      }
      &__bottom {
        font-size: 11px;
      }
      &__top {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

@include tablet {
  .header {
    &-profile {
      font-size: 1rem;
    }
    &-container {
      --container-width: 100%;
    }
  }
}

@include mobile {
  .header {
    &-lang {
      &__list {
        grid-gap: 1rem;
      }
    }
    &-profile {
      font-size: 12px;
    }
  }
}
